<div class="wrapper" id="footer">
  <div class="inner foot_inner">
    <div class="foot clearfix">
      <div id="copyright"><p><%= copyright %><br>
      *不跑烟：在方太实验室规定条件下测试，肉眼未见明显的油烟逃逸。
*还能去果蔬农残：指能有效去除果蔬表面的氧化乐果、乐果等农药残留。</p></div>
    </div>
  </div>
</div>




