<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />  
<html>
<head lang="zh-CN"> 
<% include nav_type.ejs %>
<script src="/js/cookie-1.1.js"></script>  
<style type="text/css">
body { width: 80%;heigth:100%; margin: 40px auto;  padding: 0 20px 0 0;  border-radius:10px;}
li{list-style: none;}
h2 {text-align: center;}
</style>
</head>
<body>
<% include nav.ejs %>
<br/><br/><br/>

<h1 align="center" ><font color="green" size="20px"><%= project_title %></font></h1>
<hr/>
<h2 align="left"><font>项目简介</font></h1>
<p>
   <%= project_descp_content %>
</p>
<hr/>
</body>
</html>