<meta charset="UTF-8">  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%= title %></title>
<link type="text/css" href="/home/49.css" rel="stylesheet">
<link type="text/css" href="/home/118.css" rel="stylesheet">
<link href="/home/system(1).css" type="text/css" rel="stylesheet"> 
<link href="/home/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/home/simplenews.css" rel="stylesheet">
<link type="text/css" href="/home/sudyNav.css" rel="stylesheet">
<link type="text/css" href="/home/datepicker.css" rel="stylesheet">

<script language="javascript" src="/home/jquery.min.js.下载" sudy-wp-context="" sudy-wp-siteid="66"></script>
<script language="javascript" src="/home/jquery.sudy.wp.visitcount.js.下载"></script>
<script type="text/javascript" src="/home/jquery.sudyNav.js.下载"></script>
<script type="text/javascript" src="/home/jquery.datepicker.js.下载"></script>
<script type="text/javascript" src="/home/datepicker_lang_HK.js.下载"></script>
<link rel="stylesheet" href="/home/style.css" type="text/css" media="all">
<script type="text/javascript" _ue_org_tagname="script">
  $(function(){
    $(".focus").sudyfocus({
      p:31,
      zWidth:537,
      zHeight:360,
	  isNavHover: true,
	  pagination: true,
      title: {active: true, // 是否显示标题
			isAutoWidth: false, // 标题背景自动宽度
			href: false // 标题是否加文章链接

},
      speed:700
    });
  });
</script>

<style type="text/css">
body{
    background:url(/images/web_login_bg.jpg) no-repeat center;
    background-size: cover;
}
</style>
 